<div class="post_drop_box_container">
  <div class="prev-content">
  </div>
  <div class="label-content">
    <label for="post_image_0" class="label-box" id="label-box-0">ファイルを選択</label><br>
    <span>※最大10枚</span>
  </div>
  <div class="hidden-conten">
    <input class="hidden-field" id="post_image_0" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_1" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_2" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_3" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_4" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_5" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_6" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_7" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_8" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_9" type="file" name="post[image][]">
  </div>
</div>
