<div class="post_drop_box_container">
  <div class="prev-content">
  </div>
  <div class="label-content">
    <label for="post_image_0" class="label-box_0" id="label-box-0">ファイルを選択0</label>
    <label for="post_image_1" class="label-box_1" id="label-box-1">ファイルを選択1</label>
    <label for="post_image_2" class="label-box_2" id="label-box-2">ファイルを選択2</label>
    <label for="post_image_3" class="label-box_3" id="label-box-3">ファイルを選択3</label>
    <label for="post_image_4" class="label-box_4" id="label-box-4">ファイルを選択4</label>
    <label for="post_image_5" class="label-box_5" id="label-box-5">ファイルを選択5</label>
    <label for="post_image_6" class="label-box_6" id="label-box-6">ファイルを選択6</label>
    <label for="post_image_7" class="label-box_7" id="label-box-7">ファイルを選択7</label>
    <label for="post_image_8" class="label-box_8" id="label-box-8">ファイルを選択8</label>
    <label for="post_image_9" class="label-box_9" id="label-box-9">ファイルを選択9</label>
  </div>
  <div class="hidden-content">
    <input class="hidden-field" id="post_image_0" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_1" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_2" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_3" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_4" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_5" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_6" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_7" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_8" type="file" name="post[image][]">
    <input class="hidden-field" id="post_image_9" type="file" name="post[image][]">
  </div>
</div>
