<div class="text-center mx-2 my-5 h5">
  <p>HURUGIYAでは、ユーザーのお気に入りの古着屋を紹介し</p>
  <p>それぞれの古着屋の魅力を全国のユーザーで共有し合うことができます。</p>
  <p>まだ行ったことのない県に行ったときや、いろいろな古着と巡り合いたいときに</p>
  <p>このサイトを活用することで、すぐに古着と出会うことができます。</p>
</div>

<div class="container">
  <div class="mx-2 my-5 bg-light">
    <h3 class="text-center">このサイトの使い方</h3>
      <div class="row mt-4">
        <div class="col-md-2"></div>
        <ul class="col-md-8 ml-4 h5">
          <li class="mt-3">このサイトを利用するためには、<strong>ログイン</strong>が必要です。</li>
          <li class="mt-3">アカウントをお持ちでない方は、<strong>新規登録</strong>からアカウントを作成してください。</li>
          <li class="mt-3"><strong>ゲストログイン</strong>でサイトを利用することも可能ですが、閲覧のみ可能となります。(投稿・いいね・コメントなどは出来ません。)</li>
          <li class="mt-3">ログインを行った方は、投稿の新規作成・ユーザーの投稿にいいね・コメントを行うことができます。</li>
          <li class="mt-3">投稿を閲覧した人が不快な気持ちにならないような投稿・コメントを心がけてください。(発見した場合、こちらで削除いたします。)</li>
        </ul>
      </div>
  </div>
</div>
