<div class="container">
  <div class="text-center mt-5">
    <p>HURUGIYAでは、ユーザーのお気に入りの古着屋を紹介し</p>
    <p>それぞれの古着屋の魅力を全国のユーザーで共有し合うことができます。</p>
    <p>まだ行ったことのない県に行ったときや、いろいろな古着と巡り合いたいときに</p>
    <p>このサイトを活用することで、すぐに古着と出会うことができます。</p>
  </div>
  <div class="mt-5">
    <h4 class="text-center">このサイトの使い方</h4>
      <div class="row mt-4">
        <div class="col-3"></div>
        <ul class="col-7">
          <li>このサイトを利用するためには、ログインが必要です。</li>
          <li>アカウントをお持ちでない方は、新規登録からアカウントを作成してください。</li>
          <li>ゲストログインでサイトを利用することも可能ですが、閲覧のみ可能となります。(投稿・いいね・コメントなどは出来ません。)</li>
        </ul>
      </div>
  </div>
</div>
