<div class="top-image top">
  <div style="height:150px;"></div>
  <div class="start">
    <%= render "public/homes/start" %>
  </div>

  <div class="top-tag">
    <div class="container pt-5">
      <h3 class="font-type1 text-center">タグ検索</h3>
      <div class="d-flex flex-row overflow-auto border-bottom">
        <%= render "public/homes/tag" %>
      </div>
    </div>
  </div>

  <div class="top-post">
    <div class="container py-5">
      <h3 class="font-type1 text-center">最新の投稿</h3>
      <div class="d-flex flex-row overflow-auto">
        <%= render "public/homes/top-post", posts: @posts %>
      </div>
    </div>
  </div>
</div>