<div class="container">
  <div class="text-center m-5">
    <h3>会員一覧</h3>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <table class="table col-10">
      <thead>
        <tr>
          <th class="bg-light" style="width: 15%">会員ID</th>
          <th class="bg-light" style="width: 25%">氏名</th>
          <th class="bg-light" style="width: 35%">メールアドレス</th>
          <th class="bg-light" style="width: 25%">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @user.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td>
              <% if user.is_deleted %>
                <label>退会</label>
              <% else %>
                <label>有効</label>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>