.title span {
  display: block;
  transform: translate(0%, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}
.title span:nth-child(8) {
  transition-delay: 0.42s;
}
.title span:nth-child(9) {
  transition-delay: 0.48s;
}
.title span:nth-child(10) {
  transition-delay: 0.54s;
}
.title span:nth-child(11) {
  transition-delay: 0.6s;
}
.title span:nth-child(12) {
  transition-delay: 0.66s;
}
.title span:nth-child(13) {
  transition-delay: 0.72s;
}
.title span:nth-child(14) {
  transition-delay: 0.78s;
}
.title span:nth-child(15) {
  transition-delay: 0.84s;
}
.title span:nth-child(16) {
  transition-delay: 0.9s;
}
.title span:nth-child(17) {
  transition-delay: 0.96s;
}
.title span:nth-child(18) {
  transition-delay: 1.02s;
}
.title span:nth-child(19) {
  transition-delay: 1.08s;
}
.title span:nth-child(20) {
  transition-delay: 1.14s;
}
.title span:nth-child(21) {
  transition-delay: 1.2s;
}
.title span:nth-child(22) {
  transition-delay: 1.26s;
}
.title span:nth-child(23) {
  transition-delay: 1.32s;
}
.title span:nth-child(24) {
  transition-delay: 1.38s;
}
.title span:nth-child(25) {
  transition-delay: 1.44s;
}
.title span:nth-child(26) {
  transition-delay: 1.5s;
}
.title span:nth-child(27) {
  transition-delay: 1.56s;
}
.title span:nth-child(28) {
  transition-delay: 1.62s;
}
.title span:nth-child(29) {
  transition-delay: 1.68s;
}
.title span:nth-child(30) {
  transition-delay: 1.74s;
}
.title span:nth-child(31) {
  transition-delay: 1.8s;
}
.title span:nth-child(32) {
  transition-delay: 1.86s;
}
.title span:nth-child(33) {
  transition-delay: 1.92s;
}

