@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.submit1 {
  width: 200px;
  height: 40px;
}

.font1 {
  font-size: 20px;
}

.button1 {
  width: 100%;
}

.box {
  position: relative;
}

.center {
  position: absolute;
}

