.index-image {
  background-image: url(../images/IMG_808.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.post-img {
  width: 200px;
  height: 165px;
  object-fit: cover;
}

.index-color {
  background-color: #eee;
  border: 2px solid #777 !important;
}

.index1 {
  height: 60px;
}

.index .h5 {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .post-img {
    width: 120px;
    height: 110px;
  }

  .index .h3 {
    font-size: 24px;
  }

  .index .h6 {
    font-size: 11px;
  }

  .index .h5 {
    font-size: 13px;
    margin-top: 10px;
    height: 30px;
  }

  .post-name, .post-day {
    font-size: 12px;
  }

  .index1 {
    height: 10px;
  }
}

@media screen and (max-width: 425px) {
  .post-img {
    margin-top: 8px;
    width: 95px;
    height: 90px;
  }

  .index .h3 {
    font-size: 15px;
  }

  .index .h6 {
    font-size: 10px;
  }

  .index .h5 {
    font-size: 10px;
    margin-top: 10px;
    height: 35px;
  }

  .post-name, .post-day {
    font-size: 10px;
  }

  .index1 {
    height: 10px;
  }

  .post-heart, .post-comment {
    font-size: 10px;
  }

  .index .container {
    width: 95%;
  }

  .index .col-3, .col-2 {
    padding-left: 3px;
  }
}