.new-image {
  background-image: url("../images/IMG_807.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.new-bg {
  background-color: #eee;
  width: 700px;
  margin: 0 auto;
  border: 4px #444 solid;
  box-sizing: border-box;
}

.new-inner {
  margin: 10px 13px;
  border: 3px #444 solid;
}

.new-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 10px 10px 10px;
}

#post_name {
  width: 185px;
}

#post_address {
  width: 300px;
}

#post_introduction {
  width: 300px;
  height: 80px;
}

#post_twitter {
  width: 300px;
  height: 30px;
}

#post_facebook {
  width: 300px;
  height: 30px;
}

#post_instagram {
  width: 300px;
  height: 30px;
}

/*=======================================================================================*/
/*プレビュー画面*/
.post_drop_box_container {
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.prev-content {
  display: flex;
}

.prev-content .preview-box {
  height: 162px;
  width: 112px;
  margin: 0 15px 10px 0;
}

.preview-box .upper-box {
  height: 112px;
  width: 100%;
  margin: 0 15px 10px 0;
}

.upper-box img {
  width: 112px;
  height: 112px;
}

.preview-box .lower-box {
  display: flex;
  text-align: center;
}

.lower-box .update-box, .delete-box {
  color: #00b0ff;
  width: 50%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #eee;
  background: #f5f5f5;
  cursor: pointer;
}

/*投稿エリア*/
.label-content {
  margin-bottom: 10px;
  width: 620px;
  margin: auto;
}

.label-content .label-box {
  display: block;
  border: 1px dashed #ccc;
  position: relative;
  background: #f5f5f5;
  width: 100%;
  height: 162px;
  cursor: pointer;
}

.hidden-content .hidden-field {
  display: none;
}

/*======================================================================================*/

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .new-bg {
    width: 550px;
  }
}

@media screen and (max-width: 425px) {
  .new-bg {
    width: 350px;
  }

  .new-inner {
    margin: 2px 3px;
  }

  h3 {
    font-size: 24px;
  }

  .new-image label {
    font-size: 12px;
  }

  .new-image .submit1 {
    width: 150px;
  }

  #post_image {
    width: 140px;
  }

  #post_name {
    width: 120px;
  }

  #post_address {
    width: 180px;
  }

  #post_introduction {
    width: 180px;
    height: 80px;
  }

  #post_twitter {
    width: 180px;
    height: 30px;
  }

  #post_facebook {
    width: 180px;
    height: 30px;
  }

  #post_instagram {
    width: 180px;
    height: 30px;
  }
}