.new-image {
  background-image: url("../images/IMG_807.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.new-bg {
  background-color: #eee;
  width: 700px;
  margin: 0 auto;
  border: 4px #444 solid;
  box-sizing: border-box;
}

.new-inner {
  margin: 10px 13px;
  border: 3px #444 solid;
}

.new-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 10px 10px 10px;
}

#post_name {
  width: 185px;
}

#post_address {
  width: 300px;
}

#post_introduction {
  width: 300px;
  height: 80px;
}

#post_twitter {
  width: 300px;
  height: 30px;
}

#post_facebook {
  width: 300px;
  height: 30px;
}

#post_instagram {
  width: 300px;
  height: 30px;
}

.up-btn input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}

.up-btn label {
  position: relative;
  background-color: royalblue;
  padding: 8px 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.21);
  border: 1px solid royalblue;
  border-radius: 100px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.up-btn label:hover {
  background-color: #5a7be0;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .new-bg {
    width: 550px;
  }
}

@media screen and (max-width: 425px) {
  .new-bg {
    width: 350px;
  }

  .new-inner {
    margin: 2px 3px;
  }

  h3 {
    font-size: 24px;
  }

  .new-image label {
    font-size: 12px;
  }

  .new-image .submit1 {
    width: 150px;
  }

  #post_image {
    width: 140px;
  }

  #post_name {
    width: 120px;
  }

  #post_address {
    width: 180px;
  }

  #post_introduction {
    width: 180px;
    height: 80px;
  }

  #post_twitter {
    width: 180px;
    height: 30px;
  }

  #post_facebook {
    width: 180px;
    height: 30px;
  }

  #post_instagram {
    width: 180px;
    height: 30px;
  }
}