.snslink {
  display: flex;
}

.p-name {
  margin-right: 30px;
}

.snsicon {
  font-size: 30px;
  margin-left: 10px;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #e1306c;
}

.tag-list {
  margin-bottom: 20px;
  border-top: 2px #eee solid;
}

.tag-list p {
  font-size: 20px;
  margin-top: 20px;
}

.tag-list-item {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  background-color: #eee;
  border: 1px #555 solid;
  border-radius: 8px;
}

.tag-list .tag-list-item {
  padding: 5px 25px;
}

#post_introduction {
  width: 90%;
  height: 130px;
}