.snslink {
  display: flex;
}

.p-name {
  margin-right: 30px;
}

.show-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.show-border {
  border-top: 2px #eee solid;
}

.comment-border {
  border: 1px solid black;
  padding: 10px;
}

.tag-list {
  .col-md-9 {
    padding-right: 3px;
  }

  .col-md-3 {
    padding-left: 0px;
  }
}

.show-bg {
  background-color: #fff;
  margin: 0 auto;
  border: 3px #444 solid;
}

@media screen and (max-width: 425px) {
  .show .font1 {
    font-size: 17px;
  }

  .tag-list p {
    font-size: 15px !important;
  }

  .tag-list-item {
    font-size: 12px;
  }

  .s-map {
    margin-left: 15px;
  }

  .show {
    .h5 {
      font-size: 15px;
    }

    .heart {
      width: 25px !important;
    }

    .svg-inline--fa.fa-w-16, .svg-inline--fa.fa-w-14 {
      width: 20px;
    }

    .p-name {
      margin-right: 0px;
    }
  }
}